*{
  margin: 0px;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__engine{
  display: flex;
  filter: drop-shadow(0 0 0.15rem rgb(190, 186, 186));
  height: 80vh;
  width: 80vw;
  padding: 0 30px;
  margin: 60px 0;
  border:none;
  border-radius: 10px;
  background-color: white;
}

.app__verticleLine{
  border-left: 0.25px solid rgb(231, 226, 226);
  height: 100%;
  margin: 0 20px;
}

.app__engine__meetinfo{
  flex: 1;
}

.app__engine__calender{
  flex: 1.2;
}

.app__engine__slots{
  display: flex;
  justify-content: center;
  flex: 0.8;
}

.app__calenderLogic{
  display: flex;
  flex: 2;
  flex-direction: column;
}

.app__calenderLogic__Info{
  display: flex;
}